{% extends "base.html" %}

{% block content %}

{% if blogs|length == 0 %}
    <p>No blog posts yet!</p>
{% else %}
    {% for blog in blogs %}
    <h2><a href="/blog?id={{blog.id}}" alt="Blog Post: {{blog.title}}" title="{{blog.title}}" >{{blog.title}}</a></h2>
    <p>{{blog.body}}</p>
    <p class="post-author">Written by <a href="/blog?user={{blog.owner.username}}">{{blog.owner.username}}</a> on {{blog.pub_date.strftime('%m-%d-%Y at %H:%M:%S')}}</p>
    <hr />
    {% endfor %}
{% endif %}

{% endblock %}